html, body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}


.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  .avatar-container {
    display: flex;
    align-items: center;
  }
  
  .avatar-img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-left: 10px; 
  }

  #root {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .footerCs {
    text-align: center;
    margin-top: auto; 
    width: 100%;
  }
  
  /*======================
      404 page
  =======================*/
  
  .page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
  }
  
  .page_404  img{ width:100%;}
  
  .four_zero_four_bg{
   background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
      height: 400px;
      background-position: center;
   }
   
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
   
   .four_zero_four_bg h1{
   font-size:80px;
   }
   
   .four_zero_four_bg h3 {
    font-size: 80px;
  }
  
  .link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #ac3131;
    margin: 20px 0;
    display: inline-block;
    transition: background 0.3s, color 0.3s, border-color 0.3s; 
    border: 1px solid transparent; 
    text-decoration: none;
  }
  
  .link_404:hover {
    background: #fff;
    color: #ac3131 !important;
    border-color: #000; 
  }
  
  
  
  .contant_box_404 {
    margin-top: -50px;
  }
  //Create you bottle
//titolo

.glitch-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: #22222295;
}

.glitch {
   position: relative;
   font-size: 89px;
   font-weight: 700;
   line-height: 1.2;
   color: #fff;
   letter-spacing: 6px;
   z-index: 1;
}

.glitch:before,
.glitch:after {
   display: block;
   content: attr(data-glitch);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0.8;
}

.glitch:before {
   animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
   color: #0ff;
   z-index: -1;
}

.glitch:after {
   animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
   color: #ff00ff;
   z-index: -2;
}

@keyframes glitch-color {
   0% {
      transform: translate(0);
   }

   20% {
      transform: translate(-4px, 4px);
   }

   40% {
      transform: translate(-4px, -4px);
   }

   60% {
      transform: translate(4px, 4px);
   }

   80% {
      transform: translate(4px, -4px);
   }

   to {
      transform: translate(0);
   }
}
.BottlePreview .bottle-image {
  max-width: 60%; 
  height: auto; 
}

@media screen and (max-width: 768px) {
  .BottlePreview .bottle-image {
    width: auto; 
    max-height: 600px; 
  }
}


.BottlePreview .logo {
  position: absolute;
  top: 93%;
  left: 58%;
  z-index: 1;
  max-width: 203px;
}
.BottlePreview .logo1 {
  position: absolute;
  top: 58%;
  left: 60.8%;
  z-index: 1;
  max-width: 122px;
  
}
  .bottle-image {
    max-width:auto;
    height: 700px
  }

  /*======================
      Login Page
  =======================*/
  
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  .login-container-darkTheme {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
  }

  .login-form {
    max-width: 500px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .login-form-darkTheme{
    max-width: 500px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #000000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 40px;
  }
  .login-title-darkTheme {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
  }
  
  .login-input {
    width: 100%;
    margin-top: 20px;
  }
  
  .login-button {
    width: 100%;
    margin-top: 20px;
  }
  
  .register-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .register-button {
    color: #007bff;
    text-decoration: none;
  }
  
  .register-button:hover {
    text-decoration: underline;
  }
  
  
  
  
  /*======================
      Register Page
  =======================*/
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  .register-container-darkTheme{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
  }
  
  .register-form {
    max-width: 500px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .register-form-darkTheme {
    max-width: 500px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #000000;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  }
  
  .register-title {
    text-align: center;
    margin-bottom: 40px;
  }
  .register-title-darkTheme{
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
  }
  
  .register-input {
    width: 100%;
    margin-top: 20px;
  }
  
  .phone-input-container {
    display: flex;
    align-items: center;
  }
  
  .phone-input {
    flex: 1;
  }
  
  .register-button {
    width: 100%;
    margin-top: 20px;
  }
  
  
  
  /*======================
      Home Page
  =======================*/
.Discover{
  text-align: center;
  font-size: 5rem;
}

  .TitoliDiv {
    padding: 20px;
    text-align: center;
    color: #000000; 
    background-size: cover;
    background-position: center;
  
    h1 {
      font-size: 2.5em; 
      margin-bottom: 10px;
    }
  
    h2 {
      font-size: 1.8em; 
      margin-bottom: 300px; 
    }
  
    h3 {
      margin-top: 300px;
      font-size: 1.3em; 
      margin-bottom: 5px; 
    }
  
    @media screen and (max-width: 768px) {
      padding: 10px; 
  
      h1 {
        font-size: 2em; 
      }
  
      h2 {
        font-size: 1.5em; 
      }
  
      h3 {
        font-size: 1.1em;
      }
    }
  }
  

  .blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
  }
  
  .Trinità {
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
    height: 1200px;  
    &:hover {
      filter: grayscale(0%);
      transform: scale(1.1);
    }
  }
  .Trinità h3 {
    padding: 30px;
    font-size: 6.5rem;
  }
  
  @media (max-width: 768px) {
    .Trinità {
      height: 800px; 
      filter: grayscale(0%);
    }
    .Trinità h3 {
    padding: 0PX;
    }
    .first-col {
      padding-left: 20px;
    }
  }
  .object-fit-cover video {
    object-fit: cover;
  }
  
  /*======================
     Navbar
  =======================*/
  .dropdown-menu-dark {

    background-color: #000000; 
    color: #fff; }
  
    .dropdown-menu-light {
    background-color: #fff; 
    color: #000000;
  }
  
  #cheersMate{
    margin: 0%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #black{
    color: black;
    margin-left: 20px;
  }
  #white{
    color: white;
    margin-left: 20px;
  }
  
  .navbarr{
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    background-color: #efefef;
    color: white;
    z-index: 2;
    margin: 0px;
    padding: 20px;
  }
  .navbar-darkTheme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    margin-right: 20px;
    color: white;
    z-index: 2;
    margin: 0px;
    padding: 20px;
  }
  #cc{
    padding: 0px;
  }
  .navbar__logo {
    font-size: 1.5rem;
    margin: 0 auto; 
  }
  
  .navbar__menu-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
  #image{
    max-height: 100px;
    max-width: 300px;
    transition: transform 0.5s; 
  }
  
  #image:hover{
    transform: scale(1.1);
  }
  
  
  .navbar__logo {
    font-size: 1.5rem;
  }
  .navbar__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 33.333%; 
    height: 100%;
    background-color: #111111;
    color: white;
    padding: 20px;
  }
  
  .navbar__menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar__menu li {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .DivCanvas-Light{
    transition: transform 0.5s; 
  }
  
  .menu-link-light {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px; 
    transition: margin 0.5s ease;
  }
  
  .menu-link-light:hover {
    margin: 30px;
  }
  
  
  .DivCanvas-dark{
    transition: transform 0.5s; 
  }
  
  .menu-link-dark {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px; 
     transition: margin 0.5s ease;
  }
  
  .menu-link-dark:hover {
    margin: 30px;
  }
  
  .offcanvas-dark .offcanvas-body {
    background-color: rgb(255, 255, 255);
  }
  
  .offcanvas-light .offcanvas-body{
    background-color: #000000;
  }
  .button-dark{
    background-color: #000; 
    color: #fff; 
    border: none; 
    margin-bottom: 20px;
  }
  
  .button-light{
    background-color: #fff; 
    color: #000; 
    border: none; 
    margin-bottom: 20px;
  }
  
  
  .divHomeLight{
    margin-top: 10rem !important;
    background-color: #fff;
    color: #000;
    padding-bottom: 8rem;
  }
  .divHomeDark{
    background-color: #000;
    color: #fff;
    padding:4vh ;
  }
  

//ViperHaze
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
$font-size-small: 18px;
$font-size-medium: 24px;
$font-size-large: 40px;
$font-size-large2: 60px;

@media only screen and (max-width: 768px) {
  .titoloViper h1 {
    font-size: $font-size-medium ;
  }
  .titoloViper h3 {
    font-size: $font-size-small;
  }
  .sottoTitoloViper h2 {
    font-size: $font-size-small;
  }
}

@media only screen and (max-width: 480px) {
  .titoloViper h1 {
    font-size: $font-size-small;
  }
  .titoloViper h3 {
    font-size: $font-size-small;
  }
  .sottoTitoloViper h2 {
    font-size: $font-size-small;
  }
}

@media only screen and (max-width: 768px) {
  .page2v h1 {
    font-size: $font-size-large2;
  }
}

@media only screen and (max-width: 480px) {
  .page2v h1 {
    font-size: $font-size-medium;
  }
}


.page1v {
  background-color: #000000; 
  color: #FFFFFF; 
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titoloViper {
  text-align: center; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.titoloViper h1 {
  color: #FFFFFF !important;
  font-family: "Tourney", sans-serif;
  font-size: $font-size-large;
}

.titoloViper h3 { 
  color: #FFFFFF; 
  font-size: $font-size-medium;
}

.sottoTitoloViper {
  text-align: center; 
}
.sottoTitoloViper h2 {
  color: #FF1616; 
  font-size: $font-size-medium;
}
.rotateA {
  transform: rotate(-90deg);
}
.rotateB {
  transform: rotate(90deg); 
}

.page2v {
  background-color:#FF1616; 
  color: #FFFFFF; 
  font-family: "Tourney", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//RedBerryPage
.redSpace {
  background-color: #7D0000;
  color: #fff;
  text-align: center;
  
  @media screen and (max-width: 756px) {
    padding: 42px 35px 65px 35px !important;
  }

  @media screen and (min-width: 757px) {
  padding: 10% 23% 10% 23% !important;
  }
}



  .description-column {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-top: 35px;
  }


.description-column {
  p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
  }

  ul {
    padding: 0;
    margin: 0 0 70px 0;

    li {
      margin-bottom: 5px;
      
    font-weight: bold;
    }
  }

  .price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
